global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'skynet-app'
    static_configs:
      - targets: ['skynet-app:8000']
    metrics_path: '/metrics'
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: (.*)
        target_label: __name__
        replacement: "skynet_$1"

  - job_name: 'lf-app'
    static_configs:
      - targets: ['lf-app-1:8080', 'lf-app-2:8080', 'lf-app-3:8080']

  - job_name: 'lf-app-instrumented'
    static_configs:
      - targets: ['lf-app-instrumented-go:12345', 'lf-app-instrumented-python:12345']

  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'mysql'

    params:
      auth_module: [client]

    static_configs:
      - targets: ['mysql:3306']

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
          # The mysqld_exporter host:port
        replacement: mysql-exporter:9104

  - job_name: 'postgres'
    
    static_configs:
      - targets:
        - psql:5432

    metrics_path: /probe
    params:
      auth_module: [client]

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: psql-exporter:9187 

  - job_name: 'cpu-exporter'
    static_configs:
      - targets: ['cpu-exporter:8000']